.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
	// grid-template-columns: repeat(4, 200px);
	gap: 10px;
	justify-items: center;
}
